.slider {
  overflow-x: visible;
  margin: 0;
  position: relative;
  padding: 0 4%;
  box-sizing: border-box;
  margin-top: 300px;
}
.slider-wrapper {
  white-space: nowrap;
  display: block;
  height: auto;
}
.slider-item {
  display: inline-block;
  text-align: center;
  width: calc(100% / 6);
  padding: 0 2px;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  transition: all 400ms ease;
  img {
    display: block;
    width: 100%;
  }
}
.slider-item-wrapper {
  // padding: 28.125% 0;
  // height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.next,
.previous {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  z-index: 100;
}

.previous {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (hover: hover) {
  .slider-wrapper:hover .slider-item {
    transform: translateX(-25%);
  }
  .slider-item:hover ~ .slider-item {
    transform: translateX(25%) !important;
  }

  .slider-item:hover {
    transform: scale(1.5) !important;
    z-index: 2;
  }
}

@media only screen and (max-width: 1400px) {
  .slider-item {
    width: calc(100% / 5);
  }
}

@media only screen and (max-width: 1100px) {
  .slider-item {
    width: calc(100% / 4);
  }
}

@media only screen and (max-width: 800px) {
  .slider-item {
    width: calc(100% / 3);
  }
}
@media only screen and (max-width: 500px) {
  .slider-item {
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 450px) {
  .slider-item {
    width: calc(100% / 2);
  }
  .next,
  .previous {
    display: none;
  }
  .slider {
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
}
